.s-red { 
    background: @red;
}
.s-green { 
    background: @green;
}
.s-yellow { 
    background: @yellow;
}
.s-blue { 
    background: @blue;
}
.s-purple { 
    background: @purple;
}
.s-aqua { 
    background: @aqua;
}
.s-orange { 
    background: @orange;
}

.s-btn {
    cursor: pointer;
}
